{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/course-action-menu

    This template renders action menu for each course.

    Example context (json):
    {
        "reports": [],
        "addreporturl": "wwwroot/blocks/powerbi/edit_report.php"
        "editreporturl": "wwwroot/blocks/powerbi/edit_report.php"
        "viewreporturl": "wwwroot/blocks/powerbi/view.php?id=X"
    }
}}
{{^hasreports}}
<div class="row">
  <div class="col-auto">
    {{#str}} nothingtodisplay {{/str}}
  </div>
</div>
{{/hasreports}}
{{#hasreports}}
  <table class="table general-table">
    <tr>
      <th>{{#str}} reportname, block_powerbi {{/str}}</th>
      <th>{{#str}} reportworkspaceid, block_powerbi {{/str}}</th>
      <th>{{#str}} reportreportid, block_powerbi {{/str}}</th>
      <th>{{#str}} actions, block_powerbi {{/str}}</th>
    </tr>
    {{#reports}}
    <tr>
      <td>{{name}}</td>
      <td>{{workspace_id}}</td>
      <td>{{report_id}}</td>
      <td>
        <a href="{{{viewurl}}}">View report</a>
        <a href="{{{editurl}}}">Edit report</a>
        <a href="{{{deleteurl}}}">Delete report</a>
      </td>
    </tr>
    {{/reports}}
  </table>
{{/hasreports}}
<a href="{{addreporturl}}" class="btn btn-primary">{{#str}} addreport, block_powerbi {{/str}}</a>
